1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
string = input("Enter a word to be calculated: ")

sum = 0

for i in string[0:]:
    sum += 1
print(sum)

Enter a word to be calculated: moe
3

In [ ]:
string = input("Enter a word to be calculated: ")

print(len(string))

2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
string = input("Enter a string: ")

if len(string) > 2:
    print(f"{string[0:2]}{string[-2:]}")
elif len(string) == 2:
    print(f"{string[0:]}{string[0:]}")
else:
    print("Empty String")

Enter a string: m
Empty String

3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
string = input("Enter a string: ")

if len(string) >= 3:
    if string[-3:] == "ing":
        print(string[0:-3] + "ly")
    else:
        print(string + "ing")
else:
    print(string)

Enter a string: moe
moeing

4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
list_of_words = input("Enter a list of words: ").split()


def longest_word(word):
    longest = list_of_words[0]

    for i in list_of_words[0:]:
        if len(longest) < len(i):
            longest = i
        else:
            continue
    return longest

longest_in_list = longest_word(list_of_words)
print(f"Longest word: {longest_in_list}")
print(f"Length of the longest word: {len(longest_in_list)}")

5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
string = input("Enter a String: ")

first_letter = string[0]
last_letter = string[-1]

if first_letter == last_letter:
    new_string = "e" + string[1:-1] + "e"
    print(new_string)
else:
    print("string")

In [ ]:
string = input("Enter a String: ")

string_list = list(string)

if string_list[0] == string_list[-1]:
    string_list[0] = "e"
    string_list[-1] = "e"
    new_string = "".join(string_list)

print(f"Expected Result: {new_string}")

6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
string = input("Enter a string: ")
print(string[::2])

7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
words = input("Enter a sentence: ").lower().split()
unique_words = list(dict.fromkeys(words))
word_counts = [words.count(word) for word in unique_words]
max_count = max(word_counts)

print(f"The highest word count is: {max_count}")

Enter a sentence: mohamed and ali are friends but ali is taller and ali is smarter
The highest word count is: 3

8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
string = input("Enter a string: ")

print(string.upper())
print(string.lower())

9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def reverse(s):
    if len(s) % 4 == 0:
        return s[::-1]
    else:
        return s
string = input("Enter a string: ")
result = reverse(string)
print(f"Result: {result}")

10- Write a Python program to remove a newline in Python

In [ ]:
lines = []
while True:
    line = input("Enter word to make sentence(type 'END' to finish): ")
    if line == "END":
        break
    lines.append(line)

text_without_newlines = " ".join(lines)

print("\nText without newlines:")
print(text_without_newlines)

11-Write a Python program to check whether a string starts with specified characters

In [ ]:
text = input("Enter the string: ")
prefix = input("Enter the starting characters to check: ")

if text[: len(prefix)] == prefix:
    print("Yes, the string starts with the specified characters.")
else:
    print("No, the string does not start with the specified characters.")

12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
print("Enter multiple lines of text (type 'END' to finish):")
lines = []
while True:
    line = input()
    if line == "END":
        break
    else:
        lines.append(line)

prefix = input("Enter the prefix to add: ")

for i in lines:
    print(prefix + i)

13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
empty_list = []
while True:
    number = float(input("Enter any decimal number (enter -1 to end): "))

    if number == -1:
        break
    else:
        empty_list.append(number)

for i in empty_list:
    print(f"{i} = {i:.2f}")

14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
empty_list = []
while True:
    number = float(input("Enter any decimal number (enter -1 to end): "))

    if number == -1:
        break
    else:
        empty_list.append(number)

for i in empty_list:
    print(f"{i} = {i:+.2f}")

15-Write a Python program to display a number with a comma separator

In [ ]:
number = int(input("Enter a number: "))

print(f"Formatted number: {number:,}")

16-Write a Python program to reverse a string using 2 ways

In [ ]:
string = input("Please enter a string: ")
print(string[::-1])

In [ ]:
string = input("enter a string: ")

for i in string[::-1]:
    print(i, end = "")

 17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
words = input("Enter a sentence: ").lower().split()

unique_words = list(dict.fromkeys(words))

for word in unique_words:
    words_count = words.count(word)
    if words_count > 1:
        print(f"{word} appears {words.count(word)} times")
    else:
        continue

18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
words = input("Enter a sentence: ").lower().split()

unique_words = list(dict.fromkeys(words))

for word in unique_words:
    words_count = words.count(word)
    if words_count > 1:
        continue
    else:
        if words_count == 1:
            print(f"The first non repeating word is {word}")
            break

19-Write a Python program to remove spaces from a given string

In [ ]:
sentence = input("Enter a sentence: ")

print(sentence.replace(" ", ""))

20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
s = input("Enter a string: ")
n = len(s)
count = n * (n + 1) // 2
print("Number of non-empty substrings:", count)

21-write a Python program to swap first and last element of any list.

In [5]:

my_list = input("Enter elements of the list separated by spaces: ").split()

print("Original list:", my_list)

# Swap first and last elements if list has at least 2 elements
if len(my_list) >= 2:
    my_list[0], my_list[-1] = my_list[-1], my_list[0]
print("List after swapping:", my_list)

Enter elements of the list separated by spaces: 1 5 6 4
Original list: ['1', '5', '6', '4']
List after swapping: ['4', '5', '6', '1']

22- Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
my_list = input("Enter elements of the list separated by spaces: ").split()

pos1 = int(input("Enter first position: "))
pos2 = int(input("Enter second position: "))

print("Original list:", my_list)


if 1 <= pos1 <= len(my_list) and 1 <= pos2 <= len(my_list):
    my_list[pos1-1], my_list[pos2-1] = my_list[pos2-1], my_list[pos1-1]
    print("List after swapping:", my_list)
else:
    print("Invalid positions! Positions should be between 1 and", len(my_list))

23- search for the all ways to know the length of the list

In [ ]:
my_list = [23, 65, 19, 90, 12]
print("List:", my_list)

# 1. Using len() function
length1 = len(my_list)
print("1. Using len():", length1)

# 2. Using a loop with counter
count = 0
for _ in my_list:
    count += 1
length2 = count
print("2. Using loop with counter:", length2)

# 3. Using __len__() method
length3 = my_list.__len__()
print("3. Using __len__():", length3)

# 4. Using sum() with generator expression
length4 = sum(1 for _ in my_list)
print("4. Using sum() with generator:", length4)

# 5. Using enumerate() to count elements
length5 = max((i + 1 for i, _ in enumerate(my_list)), default=0)
print("5. Using enumerate():", length5)

# 6. Using list comprehension (indirect)
length6 = len([x for x in my_list])
print("6. Using list comprehension:", length6)

24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
numbers_input = input("Enter a list of numbers separated by spaces: ")

numbers = list(map(int, numbers_input.split()))

maximum_number = max(numbers)

print("The maximum number is:", maximum_number)

25-write a Python code to find the Minimum number of list of numbers.

In [18]:
numbers_input = input("Enter a list of numbers separated by spaces: ")

numbers = list(map(int, numbers_input.split()))

minimum_number = min(numbers)

print("The minimum number is:", minimum_number)

Enter a list of numbers separated by spaces: 10 20 30
The minimum number is: 10

26-search for if an elem is existing in list

In [ ]:
elements = input("Enter a list of elements separated by spaces: ").split()

search_element = input("Enter the element you want to search for: ")

if search_element in elements:
    print("The element exists in the list!")
else:
    print("The element does not exist in the list.")

27- clear python list using different ways

In [ ]:
my_list = [1, 2, 3, 4, 5]

# 1. Using clear() method
my_list.clear()
print("After clear() method:", my_list)

# Re-create the list
my_list = [1, 2, 3, 4, 5]

# 2. Using slicing
my_list[:] = []
print("After slicing:", my_list)

# Re-create the list
my_list = [1, 2, 3, 4, 5]

# 3. Using del keyword
del my_list[:]
print("After del keyword:", my_list)

# Re-create the list
my_list = [1, 2, 3, 4, 5]

# 4. Reassigning to an empty list
my_list = []
print("After reassigning to empty list:", my_list)

28-remove duplicated elements from a list

In [ ]:
elements_input = input("Enter a list of elements separated by spaces: ")

elements = elements_input.split()

unique_elements = list(set(elements))

print("List after removing duplicates:", unique_elements)

29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
values_input = input("Enter the list of values separated by spaces: ")
test_list = values_input.split()

keys_input = input("Enter the list of keys separated by spaces: ")
key_list = keys_input.split()

result = []
for i in range(0, len(test_list), len(key_list)):
    temp = {}
    for j in range(len(key_list)):
        if i + j < len(test_list):
            temp[key_list[j]] = test_list[i + j]
    result.append(temp)

print("The resulting list of dictionaries is:", result)

30-write a python program to count unique values inside a list using different ways

In [ ]:
# Sample list
my_list = [1, 2, 2, 3, 4, 4, 4, 5]

# 1. Using set() and len() to count unique values
unique_count_set = len(set(my_list))
print("Count using set():", unique_count_set)

# 2. Using a dictionary to count unique values
unique_count_dict = len(dict.fromkeys(my_list))
print("Count using dictionary:", unique_count_dict)

# 3. Using a loop and a temporary list to count unique values
unique_count_loop = 0
unique_values = []
for item in my_list:
    if item not in unique_values:
        unique_values.append(item)
        unique_count_loop += 1
print("Count using loop:", unique_count_loop)

# 4. Using collections.Counter to count unique values
from collections import Counter
unique_count_counter = len(Counter(my_list))
print("Count using Counter:", unique_count_counter)

31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [25]:
# Take input from the user for the list and K value
test_list_input = input("Enter a list of elements separated by spaces: ")
test_list = list(map(int, test_list_input.split()))

K = int(input("Enter the value of K: "))

# Create a dictionary to store the frequency of each element
frequency = {}

# Count the frequency of each element
for element in test_list:
    if element in frequency:
        frequency[element] += 1
    else:
        frequency[element] = 1

# Extract elements with frequency greater than K
result = [key for key, value in frequency.items() if value > K]

print("Elements with frequency greater than", K, ":", result)

Enter a list of elements separated by spaces: 2 3 4 5 23 3 2 3 2
Enter the value of K: 2
Elements with frequency greater than 2 : [2, 3]

32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [26]:
numbers = [1, 2, 2, 3, 4, 5]

strongest_neighbors = []

for i in range(len(numbers) - 1):
    strongest_neighbors.append(max(numbers[i], numbers[i+1]))

strongest_neighbors.append(numbers[-1])

print("Strongest Neighbors:", strongest_neighbors)

Strongest Neighbors: [2, 2, 3, 4, 5, 5]

33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
numbers = [1, 2, 3]

for i in range(len(numbers)):
    for j in range(len(numbers)):
        if j != i:
            for k in range(len(numbers)):
                if k != i and k != j:
                    print(numbers[i], numbers[j], numbers[k])

34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
test_list = [1, 2, 3]

combinations = []

for i in range(len(test_list)):
    for j in range(i + 1, len(test_list) + 1):
        combinations.append(test_list[i:j])

print(combinations)

35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
List_1 = ["a", "b"]
List_2 = [1, 2]

unique_combinations = []

for i in List_1:
    for j in List_2:
        combination1 = [(i, j), (List_1[1 - List_1.index(i)], List_2[1 - List_2.index(j)])]
        combination2 = [(i, j), (j, i)]

        if combination2 not in unique_combinations:
            unique_combinations.append(combination2)

print(unique_combinations)

36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

Output : 2 3 4 5 2)

In [35]:
input_list = list(map(int, input("Enter the list of elements (space-separated): ").split()))
element_to_remove = int(input("Enter the element to remove: "))

output_list = [x for x in input_list if x != element_to_remove]

print("Output List:", output_list)

Enter the list of elements (space-separated): 1 2 3 4 5 2 1 1 1 1 1
Enter the element to remove: 1
Output List: [2, 3, 4, 5, 2]

37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [36]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

result = [list1[i] for i in list2]

print("The lists after index elements replacements is:", result)

The lists after index elements replacements is: ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [37]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2

result = [tup for tup in test_list if tup.count(K) == N]

print("Output:", result)

test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 3

result = [tup for tup in test_list if tup.count(K) == N]

print("Output:", result)

Output: [(4, 5, 5, 4)]
Output: []

39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

# Sort by column 0
sorted_column_0 = sorted(array, key=lambda x: x[0])
print("Sorted array specific to column 0,", sorted_column_0)

# Sort by column 1
sorted_column_1 = sorted(array, key=lambda x: x[1])
print("Sorted array specific to column 1,", sorted_column_1)

# Sort by column 2
sorted_column_2 = sorted(array, key=lambda x: x[2])
print("Sorted array specific to column 2,", sorted_column_2)

40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
input_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

sorted_dict_by_key = dict(sorted(input_dict.items()))

print("Sorted dictionary by key:", sorted_dict_by_key)

41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7

result = {key: value for key, value in test_dict.items() if isinstance(value, int) and value <= K or not isinstance(value, int)}

print("Output:", result)

42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

result = dic1.copy()
result.update(dic2)
result.update(dic3)

print("Expected Result:", result)

43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
sample_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

print("Iterating over keys:")
for key in sample_dict:
    print(key)

print("\nIterating over values:")
for value in sample_dict.values():
    print(value)

print("\nIterating over key-value pairs:")
for key, value in sample_dict.items():
    print(f"{key}: {value}")

44- Write a Python script to merge two Python dictionaries

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

dict1.update(dict2)

print("Merged dictionary:", dict1)

45-Write a Python program to get the maximum and minimum values of a dictionary values

In [46]:
sample_dict = {'a': 10, 'b': 20, 'c': 5, 'd': 15}

max_value = max(sample_dict.values())
min_value = min(sample_dict.values())

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 20
Minimum value: 5

46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [47]:
original_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}

new_dict = {key: value for key, value in original_dict.items() if value is not None}

print("New Dictionary after dropping empty items:", new_dict)

New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
user_input = input("Enter numbers separated by space: ")

numbers_tuple = tuple(map(int, user_input.split()))

index = int(input(f"Enter the index (0 to {len(numbers_tuple)-1}) to get the item: "))

if 0 <= index < len(numbers_tuple):
    print(f"The item at index {index} is: {numbers_tuple[index]}")
else:
    print("Invalid index!")

48-Write a Python program to unpack a tuple into several variables

In [50]:
my_tuple = (10, 20, 30, 40, 50)

a, b, c, d, e = my_tuple

print("Unpacked values:")
print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)
print("e =", e)

Unpacked values:
a = 10
b = 20
c = 30
d = 40
e = 50

49-Write a Python program to add an item to a tuple

In [51]:
my_tuple = (1, 2, 3, 4)

item_to_add = 5

temp_list = list(my_tuple)
temp_list.append(item_to_add)
my_tuple = tuple(temp_list)

print("Updated tuple:", my_tuple)

Updated tuple: (1, 2, 3, 4, 5)

50-Write a Python program to convert a tuple to a string

In [52]:
my_tuple = ('H', 'e', 'l', 'l', 'o')

my_string = ''.join(my_tuple)

print("Converted string:", my_string)

Converted string: Hello

51-Write a Python program to convert a list to a tuple

In [53]:
my_list = [1, 2, 3, 4, 5]

my_tuple = tuple(my_list)

print("Converted tuple:", my_tuple)

Converted tuple: (1, 2, 3, 4, 5)

52-Write a Python program to reverse a tuple

In [54]:
my_tuple = (1, 2, 3, 4, 5)

reversed_tuple = my_tuple[::-1]

print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [57]:
sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

modified_list = [(tup[:-1] + (100,)) for tup in sample_list]

print("Modified list:", modified_list)

Modified list: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [58]:
original_string = "python 3.0"

string_to_tuple = tuple(original_string)

print("Original string:", original_string)
print("<class 'str'>")
print("Convert the said string to a tuple:", string_to_tuple)

Original string: python 3.0
<class 'str'>
Convert the said string to a tuple: ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
tuple_of_tuples = ((10, 20, 30), (40, 50, 60), (70, 80, 90))

all_numbers = [num for sub_tuple in tuple_of_tuples for num in sub_tuple]

average = sum(all_numbers) / len(all_numbers)

print("Average value of the numbers in the tuple of tuples:", average)

56-Write a Python program to add member(s) to a set.

In [ ]:
my_set = {1, 2, 3, 4}

my_set.add(5)

my_set.update([6, 7, 8])

print("Updated set:", my_set)

57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
my_set = {1, 2, 3, 4, 5}

item_to_remove = 3

if item_to_remove in my_set:
    my_set.remove(item_to_remove)
    print(f"Item {item_to_remove} has been removed from the set.")
else:
    print(f"Item {item_to_remove} is not present in the set.")

print("Updated set:", my_set)

58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [62]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection = set1 & set2

union = set1 | set2

difference = set1 - set2

symmetric_difference = set1 ^ set2

print("Intersection of set1 and set2:", intersection)
print("Union of set1 and set2:", union)
print("Difference of set1 and set2:", difference)
print("Symmetric difference of set1 and set2:", symmetric_difference)

Intersection of set1 and set2: {4, 5}
Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}
Difference of set1 and set2: {1, 2, 3}
Symmetric difference of set1 and set2: {1, 2, 3, 6, 7, 8}

59-Write a Python program to find the maximum and minimum values in a set

In [63]:
my_set = {10, 20, 30, 40, 50}

max_value = max(my_set)
min_value = min(my_set)

print("Maximum value in the set:", max_value)
print("Minimum value in the set:", min_value)

Maximum value in the set: 50
Minimum value in the set: 10

60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [64]:
my_list = [10, 20, 30, 40, 50, 60]
target_sum = 70

pairs = []

for i in range(len(my_list)):
    for j in range(i+1, len(my_list)):
        if my_list[i] + my_list[j] == target_sum:
            pairs.append((my_list[i], my_list[j]))

print("Pairs whose sum is equal to", target_sum, ":", pairs)

Pairs whose sum is equal to 70 : [(10, 60), (20, 50), (30, 40)]